.home-page {
    @include flexColumn;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: url('../assets/marvel-characters.webp') no-repeat;
    background-size: cover;
    .connect-link {
        position: absolute;
        top: 1em;
        right: 2vw;
    }
    .color-button {
        margin-bottom: 2em;
    }
    h1 {
        color: black;
    }
}